<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ page.title }}</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<div id="topbar">


</div>
<div id="ribbon">

<h1 id="sitename">Emile Swarts</h1>
<h2>Everything Unix</h2>
</div>
<div id="content">
<div id="left">
<div class="container">
<div class="post">
<div class="postheader">
<div class="date shadow">
<span class="day">28</span>
<span class="month">September</span>

</div>
<p class="postinfo">
 <span>By <a href="#">admin</a></span>
 <span><a href="#">15 Comments</a></span>
 <span><a href="#">Web Design</a></span>
 <span><strong>Tags</strong></span>
 <span><a href="#">Lorem</a>, <a href="#">Ipsum</a>, <a href="#">Sapien</a>, <a href="#">Eros</a></span>
 </p>

</div>
<div class="postcontent">
		  {{ content }}
</div>
</div>
</div>
</div>
<div class="clear"></div>

</div>

<div id="footer">
2009 - 2010 &copy; All Rights Reserved
<p>
<a href="#">Put</a> | <a href="#">Some</a> | <a href="#">Links</a> | <a href="#">Here</a></p>
<p id="credits">A <a href="http://www.ramblingsoul.com">CSS Template</a> by RamblingSoul</p>
</div></div>
</body>
</html>
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
		
  </head>
  <body>
	  <div id="wrap">

		<header>
		  <h1><a href="/">Emile Swarts</a></h1>
		  <h2><a href="/">Everyting UNIX</a></h2>
		</header>
		<section>
		  {{ content }}
		</section>

	</div>
  </body>
</html>
-->
