<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Emile Swarts - Software Engineer</title>
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
            <link href="/css/fontawesome.min.css" rel="stylesheet">
            <link href="/css/resume.css" rel="stylesheet">
            <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Emile Swarts</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#work">Latest Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sideprojects">Side Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Emile
            <span class="text-primary">Swarts</span>
          </h1>
          <br /><p class="lead mb-5">London based freelance software engineer with over 15 years experience. I enjoy owning features from inception to production. I'm a strong believer TDD and Agile practices.<br /><br />Most recently I've been managing and optimising complex infrastructure in AWS for a high traffic system and find the challenges around this very interesting.</p>
          <div class="social-icons">
            <a href="https://uk.linkedin.com/in/emile-swarts-b425b824">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/emileswarts">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/emileswarts">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="work">
        <div class="my-auto">
          <h2 class="mb-5">Latest Work</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">Criminal Justice Secure Exchange</h3>
                  <div class="subheading mb-3">Ministry of Justice</div>
                  <p>The Bichard 7 application receives information about the outcomes of hearings from courts (via the Libra case management system) and adds this information to the Police National Computer (PNC)</p>
              </div>
              <div class="resume-date text-md-right">
                  <span class="text-primary">December 2019 - Present</span>
              </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">Form Builder</h3>
                  <div class="subheading mb-3">Ministry of Justice</div>
                  <p>Form Builder is a service that uses platform software to create digital services. It will allow developers and interaction/service designers to design, iterate and deploy digital services quickly and easily based on GOV.UK design patterns.</p>
              </div>
              <div class="resume-date text-md-right">
                  <span class="text-primary">July 2019 - December 2019</span>
              </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">GovWifi</h3>
              <div class="subheading mb-3">Government Digital Services</div>
              <p>GovWifi is a single wifi login which can be simply and cheaply installed by government departments over their existing infrastructure.

Anyone who registers with GovWifi will have access to wifi at any participating public sector location. It’s available to civil servants, consultants and visitors to government departments.</p>
              <!-- <em>AWS, Terraform, Docker, Ruby, Sinatra, Rails, Python, Jenkins, FreeRadius, Cisco</em> -->
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2018 - July 2019</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">GDS Project dependencies</h3>
              <div class="subheading mb-3">Government Digital Services</div>
              <p>We developed a system which compliments <a href="https://dependabot.com/">Dependabot</a> and helps teams ensure their project dependencies are always kept up to date.
              This would include daily announcements across more than a hundred projects and a dashboard providing an overview of the status of these dependencies.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2017 - March 2018</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">AkzoNobel</h3>
              <div class="subheading mb-3">Dulux</div>
              <p>Design and implementation of a global Ruby on Rails e-commerce platform for Dulux.  This included integrating with a large number of 3rd party services and pushing financial data into SAP. Leading customer showcases and prioritisation sessions.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2017 - September 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Carbon Disclosure Project</h3>
              <div class="subheading mb-3">Not for profit charity</div>
              <p>Implementation of Ruby on Rails platform for this NGO, collating and exposing environmental and emissions data in order to support territories in adopting greener practices.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2016 - January 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">KJUS</h3>
              <div class="subheading mb-3">KJUS</div>
              <p>KJUS is a Swiss ski and active wear brand. They required a rewrite of a legacy ecommerce system into Ruby, this included both frontend and backend development.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2015 - March 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">On Running</h3>
              <div class="subheading mb-3">On Running</div>
              <p>On Running is an independent shoe company that is growing rapidly.  We were responsible for providing a global E-commerce experience in more than 20 countries.  The systems integrated with Salesforce and we helped them improve their system.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2013 - January 2015</span>
            </div>
          </div>
        </div>
      </section>

      <hr class="m-0">


      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">Freelance Software Engineer</h3>
                  <div class="subheading mb-3">Emile Swarts Ltd</div>
              </div>
              <div class="resume-date text-md-right">
                  <span class="text-primary">October 2019 - Present</span>
              </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Software Engineer</h3>
              <div class="subheading mb-3">Made Tech</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2013 - October 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3">Fatbeehive</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2009 - May 2013</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3">Imbali Studios</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February 2007 - July 2009</span>
            </div>
          </div>
        </div>
      </section>

      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="sideprojects">
        <div class="my-auto">
          <h2 class="mb-5">Side Projects</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">Tic Tac Toe</h3>
                  <div class="subheading mb-3">Program using the Minimax algorithm</div>
                  <p>One of my favourite projects in Clojure where I created a Clean Architecture style game that runs on the command line.</p>
                  <p><a href="https://github.com/emileswarts/clojure-tic-tac-toe">github.com/emileswarts/clojure-tic-tac-toe</a></p>
              </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">FreeStuffly</h3>
                  <div class="subheading mb-3">A Freecycle scraper written in Clojure to find free stuff within walking distance</div>
                  <p>As an artist, I'm always on the lookout for unused paint. This program let's me know what's avaiable by sending me an email on demand.</p>
                  <p><a href="https://github.com/emileswarts/freestuffly">github.com/emileswarts/freestuffly</a></p>
              </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                  <h3 class="mb-0">Conways Game of Life</h3>
                  <div class="subheading mb-3">A Clojure implementation of the classic Conways Game of Life</div>
                  <p>Fully TDD'd compact implementation where I vowed to not look for solutions online, but to implement it myself.</p>
                  <p>It took about a month and I was very happy when finally the command line program ran perfectly given any starting pattern.</p>
                  <p><a href="https://github.com/emileswarts/conways-game-of-life-clojure">github.com/emileswarts/conways-game-of-life-clojure</a></p>
              </div>
          </div>
        </div>

      </section>

      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="sideprojects">
        <div class="my-auto">
          <h2 class="mb-5" id="blog">Blog</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">

                  {% for post in site.posts %}
                  <div class="row-fluid">
	                    <div class="span12">
		                      <a class="mb-0" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		                      <p>{{ post.description }}</p>
	                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
        </div>

      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/resume.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132755698-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132755698-1');
  </script>
  </body>
</html>
